body, ul, li, h1, h2, h3 {
  font-family: 'Ailerons', sans-serif;
  font-weight: lighter;
}

canvas {
  margin-top: 60px;
}

div.header {
  display:flex;
  position: fixed;
  top: 0px;
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  z-index: 100;
  align-items: flex-end;
}

h1 {
  padding: 0px;
  margin: 0px;
  background-color: white;
}
h3.change:hover {
  cursor: pointer;
}


#overlay {
  z-index: 200;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,.6);
}

#modal {
  z-index: 300;
  position: fixed;
  background-color: rgba(240,240,240,.8);
  top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 40%;
  min-width: 400px;
  min-height: 320px;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
}

div.about-div {
  margin-top: 10px;
  max-height: 100px;
  width: 80%;
  overflow: scroll;
}

h2.modal-title {
  margin-top: 0px;
}

p.about {
  font-weight: lighter;
  text-align: left;
  width: 85%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10px;
  margin-top: 0px;
  border-left: 3px solid #676767;
}

#modal.closed {
  display: none;
}

#modal.open {
  display: flex;
}
#overlay.closed {
  display: none;
}

#overlay.open {
  display: flex;
}

ul.city-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
}

ul.city-list li {
  margin: auto;
  font-size: 12px;
  height: 25px;
  transition: all .3s ease-in-out;
}
ul.city-list li:hover {
  font-size: 14px;
  cursor: pointer;
}

h3.change {
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: .7em;
  font-weight: normal;
  color: #676767;
}

div#root {
  display: flex;
}

ul#list {
  list-style: none;
  margin-top: 80px;
  height: 300px;
  width: 200px;
  overflow: scroll;
}

ul#list:after {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 200px;
  height: 100%;
  content: "";
  background: linear-gradient(to bottom,
     rgba(255,255,255, 1) 100px,
     rgba(255,255,255, 0) 200px,
     rgba(255,255,255, 1) 300px
  );
  pointer-events: none; /* so the text is still selectable */
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 1s;
}

ul#list li:hover {
  background-color: #80DEEA;
  cursor: pointer;
}

ul#list li {
  margin-top: 5px;
}

ul#list li.selected {
  background-color: #80DEEA;
}

::-webkit-scrollbar {
    display: none;
}

li.blank {
  opacity: 0;
}
li.blank:hover {
  cursor: auto;
}

p#instructions {
  position: fixed;
  z-index: 100;
  top: 50px;
  left: 40px;
}

p#route {
  position: fixed;
  z-index: 100;
  top: 70px;
  left: 40px;
}
